.schema-designer {
  height: 100%;

  :global {
    .dn-main-panel.root {
      position: static;
    }

    .dn-workspace-panel-item{
      .@{ant-prefix}-formily-form-item-label{
        color: inherit;
      }
    }
  }
}
