<style>
  .wrapper {
    margin-top: 50px;
  }
  .description {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-secondary);
  }

  @media screen and (min-width: 992px) {
    .wrapper {
      margin-top: 100px;
    }
  }
</style>
<div class="container">
  <div class="wrapper">
    <h1 class="title">Pomelo Identity Server</h1>
    <p class="description">
      This is an OpenID Connect and <a href="https://auth0.com/docs" target="_blank">OAuth 2.0</a> service for
      Pomelo applications.
    </p>
  </div>
</div>
<%- contentFor('title') %> Home
