@import '../../style/themes/index';

@message-dropdown-prefix-cls: ~'@{ant-prefix}-message-dropdown';

.@{message-dropdown-prefix-cls} {
  &__wrapper{
    font-size: 14px;
    cursor: pointer;

    .@{ant-prefix}-badge {
      color: inherit;
    }
  }

  &-overlay {
    .@{ant-prefix}-popover-inner-content{
      padding: 0;
    }

    &__container {
      width: 260px;
      max-height: 360px;
      padding: 10px 16px;
      overflow: auto;
    }
  }

  &-list {
    .@{ant-prefix}-list-item-meta{
      margin-bottom: 0;

      &-title{
        margin-bottom: 6px;
      }
    }

    &__content {
      text-align: right;
    }
  }
}
