.devcontainer
.vscode
.workflow
node_modules
servers/db.lock
servers/content/plugins/*
servers/content/themes/*
servers/content/uploads/*
servers/**/public/**/*.ts
servers/**/public/**/*.less
servers/**/public/**/*.sass
servers/**/public/**/*.scss
**/.git*
**/.env.development*
**/.env.sample
**/env.config.sample.js
**/env.config.sample.js.map
**/.eslintignore
**/iisnode.js
**/jest.config.json
**/nest-cli.json
**/README.md
**/web.config
**/webpack-hmr.config.js
**/__test__
**/node_modules
