.devcontainer
.vscode
.workflow
**/.git*
**/.env.development*
**/.env.sample
**/env.config.sample.js
**/env.config.sample.js.map
**/.eslintignore
**/jest.config.json
**/nest-cli.json
**/README.md
**/iisnode.js
**/web.config
**/webpack-hmr.config.js
**/__test__
**/node_modules
