<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!--
      All appSettings are made available to your Node.js app via environment variables
      You can access them in your app through the process.env object.

      process.env.<key>
    -->

    <!-- Unconmment the below appSetting if you'd like to use a Virtual Directory -->
    <!-- <add key="virtualDirPath" value="" /> -->
    <add key="NODE_ENV" value="production" />
    <add key="ENV_FILE" value=".env" />
  </appSettings>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <handlers>
      <add name="iisnode" path="iisnode.js" verb="*" modules="iisnode" resourceType="Unspecified" requireAccess="Script" />
    </handlers>

    <!-- use URL rewriting to redirect the entire branch of the URL namespace
			to app.js node.js application;

			Additional Configuration Ideas
			https://tomasz.janczuk.org/2012/05/yaml-configuration-support-in-iisnode.html
			-->
    <rewrite>
      <rules>
        <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="iisnode" />
        </rule>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^/iisnode.js\/debug[\/]?" />
        </rule>
        <rule name="StaticContent">
          <action type="Rewrite" url="{{REQUEST_URI}}" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{{REQUEST_FILENAME}}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="iisnode.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode node_env="production" maxNamedPipeConnectionRetry="100" namedPipeConnectionRetryDelay="250" promoteServerVars="REMOTE_ADDR" />
  </system.webServer>
</configuration>
