/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
#app {
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper {
  margin: auto;
  padding: 40px 30px 30px;
  max-width: 500px;
}
form {
  margin-top: 20px;
}
form .row > div {
  position: relative;
}
form a {
  color: var(--text-color);
  text-decoration: underline;
}
form a:hover,
form a:focus {
  color: var(--theme-primary);
}
.form-control#password {
  padding-right: 2.5em;
}
.was-validated .form-control:invalid#password + .icon-field {
  display: none;
}
.was-validated .form-control:valid#password {
  padding-right: calc(var(--bs-gutter-x) * 0.5 + 1.5rem + 0.75rem);
}
.was-validated .form-control:valid#password + .icon-field {
  right: calc(var(--bs-gutter-x) * 0.5 + 1.5rem + 0.75rem);
  -webkit-transition: right 0.2s ease-in-out;
  transition: right 0.2s ease-in-out;
}
.form-control:hover,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-check-input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.icon-field {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: calc(var(--bs-gutter-x) * 0.5 + 1rem);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.icon-field.eye {
  background: url(../icon/eye.svg) no-repeat center center;
  background-size: cover;
}
.icon-field.eye.slash {
  background-image: url(../icon/eye-slash.svg);
}
@media screen and (min-width: 576px) and (min-height: 768px) {
  .wrapper {
    width: 500px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
