// reset

body {
  color: @var-text-primary;
  background-color: @var-body-background;
}

input[type='checkbox'] {
  accent-color: @var-primary;
}

a {
  color: @link-color;

  &:hover {
    color: @link-hover-color;
  }

  &:active {
    color: @link-active-color;
  }

  &[disabled] {
    color: @var-color-disabled;
  }
}

caption {
  color: @var-text-secondary;
}

::selection {
  color: @var-text-inverse;
  background: @var-primary;
}

::placeholder {
  font-size: @font-size-md;
  display: block;
  margin-bottom: 0;
  color: @var-text-secondary;
}
