{
  "contentPath": "../content",
  "webServer": {
    "host": "0.0.0.0",
    "port": 5010,
    "globalPrefixUri": "/",
    "cors": false
  },
  "database": {
    "connection": {
      "database": "t_templates",
      "username": "username",
      "password": "password@123",
      "host": "host",
      "port": 3306,
      "charset": "utf8",
      "dialect": "mysql",
      "collate": ""
    },
    "tablePrefix": "t_"
  },
  "swagger": {
    "debug": false,
    "path": "/doc"
  },
  "graphql": {
    "debug": false,
    "path": "/graphql",
    "subscription_path": "/graphql"
  },
  "auth": {
    "debug": false,
    "endpoint": "https://oauth2.com/",
    "jwksRsa": { "requestsPerMinute": 5, "cache": true, "rateLimit": true }
  }
}
