<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect HTTP to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Found" />
        </rule>
        <rule name="Mobile UA redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
            <add input="{HTTP_USER_AGENT}" pattern="^.*BlackBerry.*$ " />
            <add input="{HTTP_USER_AGENT}" pattern="^.*Android.*$ " />
            <add input="{HTTP_USER_AGENT}" pattern="^.*webOS.*$ " />
            <add input="{HTTP_USER_AGENT}" pattern="^.*iPhone.*$ " />
            <add input="{HTTP_USER_AGENT}" pattern="^.*iPad.*$ " />
            <add input="{HTTP_USER_AGENT}" pattern="^.*iPod.*$ " />
            <add input="{HTTP_USER_AGENT}" pattern="^.*Windows Phone.*$ " />
            <add input="{HTTP_USER_AGENT}" pattern=".*Mobile.*Safari" />
          </conditions>
          <action type="Redirect" url="/h5/{R:1}" />
        </rule>
        <rule name="Vue Route" patternSyntax="Wildcard">
          <match url="*" />
          <action type="Rewrite" url="/" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
